*, *:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0 0;
  padding: 0 0;
}

*:after,
*:before {
  margin: 0 0;
  padding: 0 0;
}

html {
  font-family: "Roboto", "Arial", sans-serif;
  position: relative;
}

body {
  background: url("../img/river.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
}

#wrapper {
  padding: 10px 20px;
  max-width: 100%;
}

#calculator {
  max-width: 45.83333%;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px 5px;
  margin-bottom: 3rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-box-shadow: 0px 3px 10px 10px #c4dae4;
  -o-box-shadow: 0px 3px 10px 10px #c4dae4;
  -webkit-box-shadow: 0px 3px 10px 10px #c4dae4;
          box-shadow: 0px 3px 10px 10px #c4dae4;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  margin: 15% auto;
}

@media screen and (max-width: 1024px) {
  #calculator {
    max-width: 58.33333%;
  }
}

@media screen and (max-width: 826px) {
  #calculator {
    max-width: 66.66667%;
  }
}

@media screen and (max-width: 576px) {
  #calculator {
    max-width: 83.33333%;
  }
}

@media screen and (max-width: 476px) {
  #calculator {
    max-width: 95%;
  }
}

@media screen and (max-width: 3000px) and (min-width: 826px) {
  #calculator {
    margin: 5% auto;
  }
}

#calculator .btn {
  padding: 10px 0;
  color: lavender;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 15%;
  border-color: lightgray;
  background-color: #00042a;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  #calculator .btn {
    font-size: 1rem;
    padding: 8px 0;
  }
}

@media screen and (max-width: 280px) {
  #calculator .btn {
    font-size: 0.8rem;
    padding: 6px 0;
  }
}

@media screen and (max-width: 260px) {
  #calculator .btn {
    font-size: 0.6rem;
    padding: 5px 0;
  }
}

@media screen and (max-height: 280px) {
  #calculator .btn {
    font-size: 1rem;
    padding: 8px 0;
  }
}

#calculator #button-grid,
#calculator #operators {
  float: left;
  padding: 20px 20px;
}

@media screen and (max-width: 826px) {
  #calculator #button-grid,
  #calculator #operators {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 576px) {
  #calculator #button-grid,
  #calculator #operators {
    padding: 7px 7px;
  }
}

@media screen and (max-width: 360px) {
  #calculator #button-grid,
  #calculator #operators {
    padding: 5px 5px;
  }
}

#calculator #button-grid {
  width: 60%;
  text-align: center;
  padding-left: 20px;
}

@media screen and (max-width: 360px) {
  #calculator #button-grid {
    padding-left: 10px;
  }
}

#calculator #button-grid .btn {
  float: left;
  margin-right: 4%;
  margin-bottom: 4%;
  width: 30.66667%;
}

#calculator #button-grid .btn:nth-child(3n) {
  margin-right: 0;
}

#calculator #button-grid .btn:last-child {
  margin-left: 34.66667%;
}

#calculator #operators {
  width: 40%;
  text-align: left;
  padding-right: 20px;
}

@media screen and (max-width: 360px) {
  #calculator #operators {
    padding-right: 10px;
  }
}

#calculator #operators .operator {
  color: lavender;
  background-color: #000600;
  border-radius: 50%;
  float: left;
  margin-right: 3%;
  margin-bottom: 3%;
  width: 48.5%;
}

#calculator #operators .operator:nth-child(2n) {
  margin-right: 0;
}

#calculator #operators .operator:last-child {
  margin-left: 25.75%;
}

#calculator #output {
  width: 92%;
  padding: 10px 10px;
  margin: 10px auto;
  color: #292929;
  background-color: white;
  font-size: 2.25rem;
  font-weight: 200;
  text-align: right;
}

@media screen and (max-width: 576px) {
  #calculator #output {
    font-size: 1.75rem;
  }
}

::-webkit-input-placeholder {
  color: gray;
  font-size: 0.8rem;
}

:-ms-input-placeholder {
  color: gray;
  font-size: 0.8rem;
}

::-ms-input-placeholder {
  color: gray;
  font-size: 0.8rem;
}

::placeholder {
  color: gray;
  font-size: 0.8rem;
}
